<div class="container-fluid d-flex justify-content-center mt-2">
  <div class="container outerBorder px-5 py-4">
    <div class="container">
      <p class="fw-bold fs-5 d-inline">
        Order Name <span class="fw-lighter fs-6"> order #1 </span>
      </p>
    </div>
    <div class="orderStatus container">
      <p class="fw-bold d-inline">
        Status: <span class="fw-lighter">In progress</span>
      </p>

      <img
        src="../assets/ordersImages/process_load_icon.png"
        alt=""
        class="loading-img"
      />
      <img
        src="../assets/ordersImages/complete_icon.png "
        alt=""
        class="completed"
      />
    </div>
    <div class="container d-flex justify-content-between">
      <p class="fw-bold d-inline">
        Location: <span class="fw-normal">123.amman.country</span>
      </p>
      <p class="fw-bold d-inline">
        Date: <span class="fw-normal">12/10/2024</span>
      </p>
    </div>
    <div class="container d-flex justify-content-between">
      <p class="fw-bold d-inline">
        Quantity: <span class="fw-normal">Somthing</span
        ><span class="mx-1">/</span><span class="fw-normal">Somthing</span>
      </p>
    </div>
    <div class="container d-flex justify-content-between">
      <p class="fw-bold d-inline">
        Total Paid: <span class="fw-normal">20</span
        ><span class="fw-normal">Jd</span>
      </p>
      <div>
        <button class="btn btn-close-white border-1 border-black rounded-0">
          Help</button
        ><button class="btn btn-reorder border-1 border-black rounded-0">
          ReOrder
        </button>
      </div>
    </div>
  </div>
</div>
